[*.cs]

# OPENAI001: O tipo é apenas para fins de avaliação e está sujeito a alterações ou remoção em atualizações futuras. Suprima este diagnóstico para continuar.
dotnet_diagnostic.OPENAI001.severity = silent
